*~
*.DS_Store
input_data/dopcode/*.dat
input_data/dopcode/JPLEPH.405
input_data/reduction/*.fits
input_data/reduction/*.dat
output/bary/kbcvel.ascii
input_data/reduction/logs/j150.logsheet1
input_data/raw_data/*fits
output/logsheets/*
test
output/fits/*
raw_reduction/middle/hamred-j150-1
raw_reduction/red/hamred-j150-1
raw_reduction/blue/hamred-j150-1
output/files/*
input_data/dopcode/ftskeck50.bin
input_data/dopcode/vdiod3314_rj13.2275.j